.DS_Store

# VSCode
.vscode/

# Deno
.deno/

# Coverage reports
coverage/

# TypeScript / Node.js
node_modules/
dist/
build/
*.tsbuildinfo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# AWS CDK
cdk.out/
cdk.context.json
.cdk.staging/
cdk-assets.json
.aws-sam/
samconfig.toml
.aws/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**/*.aws.json
!package.json
!package-lock.json
!yarn.lock
!pnpm-lock.yaml
